body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #fff; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.container {
  width: 100%;
  max-width: 1600px;
  padding: 0 230px;
  margin: 0 auto; }

/* Header =====
===============*/
.header-page {
  padding: 18px 0;
  background-color: #222222; }

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__logo {
  margin-right: 41px; }

.header__logo-img {
  width: 44px;
  height: 38px;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear; }
  .header__logo-img:hover {
    opacity: .3; }

.header__search {
  background: none;
  border: 0;
  cursor: pointer; }

.header__search__svg {
  width: 26px;
  height: 26px;
  fill: #E8E8E8;
  -webkit-transition: .1s linear;
  transition: .1s linear; }
  .header__search__svg:hover {
    fill: #F16D7F;
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px); }
  .header__search__svg:active {
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }

.nav {
  position: absolute;
  top: 77px;
  right: 0;
  z-index: 10;
  display: none;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21); }

.nav__block {
  max-height: 763px;
  padding: 37px 70px 157px 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff; }

.nav__item__name {
  margin-bottom: 13px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000; }

.nav__item__title {
  margin-top: 11px;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #F16D7F; }

.nav__item__link {
  margin-left: 11px;
  margin-bottom: 11px;
  font-size: 14px;
  font-weight: 400;
  color: #6F6E6E;
  text-decoration: none;
  -webkit-transition: color .2s linear;
  transition: color .2s linear; }
  .nav__item__link:after {
    margin-top: 3px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #F16D7F;
    -webkit-transition: width .5s linear;
    transition: width .5s linear; }
  .nav__item__link:hover {
    color: #000; }
  .nav__item__link:hover:after {
    width: 100%; }

#chk {
  padding: 0 10px;
  width: 45px;
  height: 35px;
  cursor: pointer;
  position: absolute;
  right: 460px;
  top: 20px;
  z-index: 1001;
  opacity: 0; }

#chk:checked ~ .nav {
  display: block; }

#chk:checked ~ .burger__menu .burger__menu__item {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #F16D7F; }

#chk:checked ~ .burger__menu .burger__menu__item:before {
  display: none; }

#chk:checked ~ .burger__menu .burger__menu__item:after {
  top: 0;
  background-color: #F16D7F;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.nav__burger__menu {
  padding: 12px;
  background: none;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1; }

.nav__burger__menu:hover .nav__burger__menu__item {
  background-color: #F16D7F; }

.nav__burger__menu:hover .nav__burger__menu__item:after {
  background-color: #F16D7F; }

.nav__burger__menu__item {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #6F6E6E;
  font-size: 0;
  position: relative;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: .5s linear;
  transition: .5s linear; }

.nav__burger__menu__item:after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #6F6E6E;
  position: absolute;
  left: 0;
  z-index: 1;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: .5s linear;
  transition: .5s linear; }

.nav__burger__menu__item:after {
  bottom: 0; }

.burger__menu {
  margin-right: 33px;
  padding: 12px;
  background: none;
  border: 0;
  cursor: pointer; }

.burger__menu:hover .burger__menu__item {
  background-color: #F16D7F; }

.burger__menu:hover .burger__menu__item:after {
  background-color: #F16D7F; }

.burger__menu:hover .burger__menu__item:before {
  background-color: #F16D7F; }

.burger__menu__item {
  display: block;
  width: 32px;
  height: 2px;
  background-color: #E8E8E8;
  font-size: 0;
  position: relative;
  -webkit-transition: .5s linear;
  transition: .5s linear; }

.burger__menu__item:before, .burger__menu__item:after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #E8E8E8;
  position: absolute;
  left: 0;
  z-index: 1; }

.burger__menu__item:before {
  top: 8px; }

.burger__menu__item:after {
  bottom: 8px; }

.header__profile {
  margin-right: 33px; }

.header__profile__svg {
  width: 29px;
  height: 29px;
  fill: #fff;
  -webkit-transition: .1s linear;
  transition: .1s linear; }
  .header__profile__svg:hover {
    fill: #F16D7F;
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px); }
  .header__profile__svg:active {
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }

.header__basket {
  position: relative; }

.header__basket__svg {
  width: 32px;
  height: 29px;
  fill: #fff;
  -webkit-transition: .1s linear;
  transition: .1s linear; }
  .header__basket__svg:hover {
    fill: #F16D7F;
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px); }
  .header__basket__svg:active {
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }
  .header__basket__svg--pink {
    fill: #F16D7F;
    position: absolute;
    top: 50%;
    left: 23px;
    z-index: 2;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: fill .2s linear;
    transition: fill .2s linear; }
    .header__basket__svg--pink:hover {
      fill: #fff; }

.header__basket:hover.header__basket:after {
  background-color: #E8E8E8;
  color: #000; }

.header__basket:after {
  content: '5';
  width: 19px;
  height: 19px;
  background-color: #F16D7F;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-weight: 400;
  position: absolute;
  top: -8px;
  right: -9px;
  z-index: 1;
  -webkit-transition: .1s linear;
  transition: .1s linear; }

/* Intro ======
===============*/
.intro {
  margin-bottom: 65px;
  background-color: #F1E4E6; }

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* flex-wrap: wrap; */ }

.intro__item--right {
  border-left: 12px solid #F16D7F;
  padding-left: 16px; }

.intro__photo {
  margin-left: -220px;
  max-width: 800px;
  max-height: 764px;
  display: block; }

.intro__title {
  font-size: 48px;
  font-weight: 900;
  color: #222222;
  text-transform: uppercase; }

.intro__subtitle {
  font-size: 32px;
  font-weight: 700;
  color: #222222;
  text-transform: uppercase; }

.intro__subtitle span {
  color: #F16D7F;
  display: inline-block; }

/* Categoties ======
=============== */
.categories {
  margin-bottom: 66px; }

.categories__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.categories__item {
  margin-bottom: 30px;
  position: relative; }

.categories__item:hover .categories__info {
  opacity: 1; }

.categories__item {
  background: rgba(33, 22, 22, 0.7); }

.categories__item:hover .categories__img {
  opacity: .3; }

.categories__img {
  display: block;
  width: 100%;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear; }

.categories__info {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  z-index: 1;
  opacity: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear; }

.categories__subtitle {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase; }

.categories__title {
  font-size: 24px;
  font-weight: 700;
  color: #F16D7F;
  line-height: 1.1;
  text-transform: uppercase; }

/* Featured ======
===============*/
.featured--product-page {
  margin-bottom: 80px; }

.featured__title {
  margin-bottom: 6px;
  font-size: 30px;
  font-weight: 400px;
  color: #222222;
  line-height: 1.1;
  text-align: center; }

.featured__subtitle {
  margin-bottom: 75px;
  font-size: 14px;
  font-weight: 400;
  color: #9F9F9F;
  text-align: center; }

.featured__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.featured__item {
  margin-bottom: 180px;
  max-width: 360px;
  position: relative; }
  .featured__item:hover .featured__item__photo__wrapper {
    -webkit-transform: translateY(-41px);
            transform: translateY(-41px); }
  .featured__item:hover .featured__item__photo {
    opacity: .14; }
  .featured__item:hover .featured__item__footer {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    z-index: 2; }
  .featured__item:hover .featured__item__footer .featured__item__footer__title {
    color: #000; }
  .featured__item:hover .featured__item__footer .featured__item__footer__text {
    color: #5D5D5D; }
  .featured__item:hover .btn__add__to__card {
    opacity: 1; }

.featured__item__photo__wrapper {
  margin-bottom: -41px;
  background-color: #3A3838DB;
  display: block;
  -webkit-transition: -webkit-transform .4s linear;
  transition: -webkit-transform .4s linear;
  transition: transform .4s linear;
  transition: transform .4s linear, -webkit-transform .4s linear; }

.featured__item__photo {
  margin-bottom: -41px;
  display: block;
  -webkit-transition: .4s linear;
  transition: .4s linear; }

.featured__item__footer {
  padding: 25px 28px 20px 16px;
  display: block;
  position: absolute;
  bottom: -100px;
  left: 0;
  z-index: -1;
  background-color: #f8f8f8;
  color: #f8f8f8;
  -webkit-transition: -webkit-transform .8s linear;
  transition: -webkit-transform .8s linear;
  transition: transform .8s linear;
  transition: transform .8s linear, -webkit-transform .8s linear; }

.featured__item__footer__title {
  margin-bottom: 12px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: color 1s linear;
  transition: color 1s linear; }

.featured__item__footer__text {
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: 300;
  -webkit-transition: color 1s linear;
  transition: color 1s linear; }

.featured__item__footer__price {
  font-size: 16px;
  font-weight: 400;
  color: #F16D7F; }

.btn__add__to__card {
  padding: 10px 15px 8px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 35%;
  left: 50%;
  z-index: 2;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  opacity: 0;
  border: 1px solid #fff;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .btn__add__to__card:hover {
    background-color: #F16D7F; }

.add__to__card__icon {
  margin-right: 11px;
  width: 25px;
  height: 23px; }

.btn {
  margin: 0 auto;
  padding: 14px 38px;
  max-width: 220px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .2s linear;
  transition: .2s linear; }
  .btn--transparent {
    border: 1px solid #F16D7F;
    color: #F16D7F;
    background-color: transparent; }
    .btn--transparent:hover {
      background-color: #F16D7F;
      color: #fff; }
    .btn--transparent:hover .header__basket__svg--pink {
      fill: #fff; }
  .btn--pink {
    position: relative; }

.btn__add__to__card__text--pink {
  margin-left: 43px; }

/* Benefits ======
=============== */
.benefits {
  margin-top: 95px;
  padding: 100px 0 60px;
  background-color: #222224; }

.benefits__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center; }

.benefits__item {
  margin-bottom: 40px; }

.benefits__icon {
  margin-bottom: 25px;
  width: 46px;
  height: 36px; }

.benefits__title {
  margin-bottom: 15px;
  font-size: 19px;
  font-weight: 400;
  color: #FBFBFB; }

.benefits__text {
  max-width: 370px;
  font-size: 14px;
  font-weight: 300;
  color: #FBFBFB; }

/* Footer ======
================ */
.footer__intro {
  background: url("../img/footer/footer-bg.jpg") center no-repeat;
  background-size: cover; }

.footer__intro__bg {
  background: rgba(244, 244, 244, 0.7); }

.footer__inner {
  padding: 97px 0 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center; }

.footer__subscribe__logo {
  margin-bottom: 30px;
  width: 96px;
  height: 96px;
  border-radius: 50%; }

.footer__subscribe__text {
  max-width: 360px;
  font-size: 20px;
  font-weight: 400;
  color: #222224; }

.footer__inner__title {
  margin-top: 63px;
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 700;
  color: #222224;
  text-transform: uppercase; }

.footer__inner__subtitle {
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222224; }

.footer__inner__subscribe__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.footer__inner__input {
  padding: 12px 64px 12px 22px;
  border-radius: 22px 0 0 22px;
  border: none;
  background-color: #E1E1E1;
  font-size: 14px;
  font-weight: normal;
  color: #222224;
  -webkit-transition: .2s linear;
  transition: .2s linear; }
  .footer__inner__input:focus {
    outline: none !important;
    border-color: #F16D7F;
    -webkit-box-shadow: 0 0 10px #F16D7F;
            box-shadow: 0 0 10px #F16D7F; }

.footer__inner__button {
  padding: 12px 18px;
  border-radius: 0 22px 22px 0;
  border: none;
  background-color: #F16D7F;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  -webkit-transition: .2s linear;
  transition: .2s linear; }
  .footer__inner__button:hover {
    color: #F16D7F;
    background-color: #fff; }
  .footer__inner__button:active {
    -webkit-box-shadow: 0 0 20px #F16D7F;
            box-shadow: 0 0 20px #F16D7F; }

.footer__bottom {
  padding: 32px 0;
  background-color: #222224; }

.footer__bottom__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__bottom__item__copyright {
  font-size: 16px;
  font-weight: 300;
  color: #FBFBFB; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.social__item {
  margin-right: 15px; }
  .social__item:last-child {
    margin-right: 0; }

.social__link {
  text-decoration: none; }

.footer__social {
  width: 32px;
  height: 32px;
  background-color: #000;
  border-radius: 8px;
  fill: #fff;
  -webkit-transition: .1s linear;
  transition: .1s linear; }
  .footer__social:hover {
    background-color: #fff;
    fill: #F16D7F;
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px); }
  .footer__social:active {
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }

/* ----- ----- Catalog page ----- ----- */
/* Breadcrumb ======
==================== */
.breadcrumb {
  background-color: #F8F3F4; }

.breadcrumb__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.breadcrumb__title {
  padding: 60px 0;
  font-size: 24px;
  font-weight: 400;
  color: #F16D7F;
  text-transform: uppercase; }

.breadercrumb__path {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.breadcrumb__link {
  margin-right: 5px;
  font-size: 14px;
  font-weight: 300;
  color: #636363;
  text-transform: uppercase;
  text-decoration: none; }
  .breadcrumb__link:after {
    margin-top: 3px;
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #F16D7F;
    -webkit-transition: width .3s linear;
    transition: width .3s linear; }
  .breadcrumb__link:last-child {
    margin-right: 0;
    font-weight: 700;
    color: #F16D7F;
    cursor: text; }
  .breadcrumb__link:hover:after {
    width: 82%; }
  .breadcrumb__link:hover:last-child:after {
    width: 0; }

.featured__filter {
  padding: 51px 0 70px; }

.dropdown {
  position: relative; }

/* Dropdown Button */
.dropbtn {
  position: absolute;
  left: 17px;
  z-index: 3000000;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: color .2s linear;
  transition: color .2s linear; }
  .dropbtn:after {
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -30px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear; }
  .dropbtn:before {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 8px;
    right: -25px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear; }
  .dropbtn .dropbtn__burger {
    display: block;
    width: 5px;
    height: 2px;
    background-color: #000;
    font-size: 0;
    position: absolute;
    top: 12px;
    right: -20px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear; }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block; }
  .dropdown:hover .dropbtn {
    color: #F16D7F; }
  .dropdown:hover .dropbtn:before, .dropdown:hover .dropbtn:after {
    background-color: #F16D7F; }
  .dropdown:hover .dropbtn__burger {
    background-color: #F16D7F; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  top: -15px;
  left: 0;
  z-index: 20000; }

.show {
  display: block; }

.dropdown-content__block {
  padding: 46px 16px 16px 17px; }

.dropdown-content__button {
  margin-top: 18px;
  padding: 12px 235px 12px 16px;
  border: none;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
  cursor: pointer;
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #F16D7F;
  -webkit-transition: border-bottom-color .5s linear, color .2s linear;
  transition: border-bottom-color .5s linear, color .2s linear; }
  .dropdown-content__button:hover {
    border-bottom-color: #F16D7F;
    color: #ed3e56; }

.dropdown-content__inner {
  margin-top: 25px;
  margin-left: 7px;
  display: none; }

.active {
  display: block; }

.dropdown-content__link {
  margin-bottom: 11px;
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #6F6E6E;
  -webkit-transition: color .2s linear;
  transition: color .2s linear; }
  .dropdown-content__link:after {
    margin-top: 2px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #F16D7F;
    -webkit-transition: width .5s linear;
    transition: width .5s linear; }
  .dropdown-content__link:hover {
    color: #F16D7F; }
  .dropdown-content__link:hover:after {
    width: 44%; }

.sorting__block {
  margin-top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.sorting__item {
  margin-right: 68px;
  position: relative; }
  .sorting__item:last-child {
    margin-right: 0; }

.sorting__button {
  font-size: 14px;
  font-weight: 400;
  color: #6F6E6E;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  position: relative;
  -webkit-transition: color .2s linear;
  transition: color .2s linear; }
  .sorting__button:after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-bottom: 1px solid #6F6E6E;
    border-right: 1px solid #6F6E6E;
    -webkit-transform: rotate(45deg) translateY(-30%);
            transform: rotate(45deg) translateY(-30%);
    position: absolute;
    top: 30%;
    right: -17px;
    z-index: 1000;
    -webkit-transition: border-color .2s linear;
    transition: border-color .2s linear; }
  .sorting__button:hover {
    color: #000; }
  .sorting__button:hover:after {
    border-bottom-color: #000;
    border-right-color: #000; }

.sorting__inner {
  padding: 10px 30px 5px 15px;
  display: none;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  background-color: #fff;
  position: absolute;
  bottom: -120px;
  left: 0;
  z-index: 1000; }

.sorting__inner.active {
  display: block; }

.sorting__inner__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px; }

.sorting__checkbox {
  opacity: 0; }
  .sorting__checkbox:hover + label {
    color: #F16D7F; }
  .sorting__checkbox:checked + label::before {
    border-color: #F16D7F;
    background-color: #F16D7F; }
  .sorting__checkbox:hover + label::before {
    -webkit-box-shadow: 0 0 0.3px 0.5px rgba(255, 0, 179, 0.247);
            box-shadow: 0 0 0.3px 0.5px rgba(255, 0, 179, 0.247); }

.sorting__label {
  margin-bottom: 8px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #6F6E6E;
  position: relative;
  -webkit-transition: color .3s linear;
  transition: color .3s linear;
  cursor: pointer; }
  .sorting__label:before {
    content: '';
    width: 11px;
    height: 11px;
    border: 1px solid #EBEBEB;
    position: absolute;
    top: 50%;
    left: -18px;
    z-index: 1000;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: .2s linear;
    transition: .2s linear; }
  .sorting__label:after {
    content: '';
    width: 4px;
    height: 6px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    position: absolute;
    top: 50%;
    left: -15px;
    z-index: 1000;
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg); }
  .sorting__label:last-child {
    margin-bottom: 0; }

.paggination {
  margin: 0 auto;
  max-width: 284px;
  width: 100%;
  padding: 12px 25px;
  border: 1px solid #EBEBEB;
  border-radius: 6px; }

.paggination__arrows {
  position: relative; }

.paggination__arrow__left {
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  font-size: 0;
  position: absolute;
  top: 5px;
  left: -7px;
  z-index: 1;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: border-color .2s linear;
  transition: border-color .2s linear; }
  .paggination__arrow__left:hover {
    border-color: #F16D7F; }

.paggination__arrow__right {
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  font-size: 0;
  position: absolute;
  top: 5px;
  right: -7px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: border-color .2s linear;
  transition: border-color .2s linear; }
  .paggination__arrow__right:hover {
    border-color: #F16D7F; }

.paggination__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.paggination__number {
  margin-left: 18px;
  font-size: 16px;
  font-weight: 300;
  color: #EBEBEB;
  -webkit-transition: color .2s linear;
  transition: color .2s linear; }
  .paggination__number:first-child {
    margin-left: 0; }
  .paggination__number:nth-child(7) {
    margin-left: 8px; }
  .paggination__number:nth-child(6):after {
    content: '...'; }
  .paggination__number:hover {
    color: #F16D7F; }

.paggination__number.pink {
  color: #F16D7F; }

/* ----- ----- Product page ----- ----- */
/* Slider ======
================ */
.slider {
  background-color: #F7F7F7; }

.slider__block {
  position: relative; }

.slider__arrow-left, .slider__arrow-right {
  padding: 20px;
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 10px;
  height: 10px;
  cursor: pointer;
  background: rgba(42, 42, 42, 0.15);
  border: none;
  font-size: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear; }
  .slider__arrow-left:hover:after, .slider__arrow-right:hover:after {
    border-color: #F16D7F; }
  .slider__arrow-left:active, .slider__arrow-right:active {
    background-color: #fff; }
  .slider__arrow-left:after, .slider__arrow-right:after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    -webkit-transition: border-color .2s linear;
    transition: border-color .2s linear; }

.slider__arrow-left {
  left: 0; }
  .slider__arrow-left:after {
    -webkit-transform: rotate(135deg) translateY(50%);
            transform: rotate(135deg) translateY(50%); }

.slider__arrow-right {
  right: 0; }
  .slider__arrow-right:after {
    -webkit-transform: rotate(-45deg) translateY(-50%);
            transform: rotate(-45deg) translateY(-50%); }

.slider__photo {
  width: 100%;
  margin: 0 auto; }

/* Product description ======
============================= */
.product__desc {
  margin-bottom: 650px;
  position: relative; }

.product__desc__inner {
  padding: 65px 100px;
  width: 100%;
  max-width: 1142px;
  position: absolute;
  top: -64px;
  left: 50%;
  z-index: 2;
  border: 1px solid #EAEAEA;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.product__desk__header {
  margin-bottom: 65px;
  padding-bottom: 65px;
  text-align: center;
  border-bottom: 1px solid #EAEAEA; }

.product__desc__title {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #F16D7F; }
  .product__desc__title:after {
    margin: 12px auto 0;
    content: '';
    display: block;
    width: 63px;
    height: 3px;
    background-color: #F16D7F; }

.product__desc__subtitle {
  margin-bottom: 48px;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  color: #4D4D4D; }

.product__desc__text {
  margin: 0 auto 32px;
  font-size: 14px;
  font-weight: 300;
  color: #5E5E5E; }

.product__desc__price {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: #F16D7F; }

.product__desc__sorting {
  margin-bottom: 49px; }

/* ----- ----- Cart page ----- ----- */
/* Shoping cart ======
====================== */
.shoping__cart {
  margin-top: 96px;
  margin-bottom: 128px; }

.shopping__cart__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.shopping__cart__block__item {
  display: block; }

.shopping__cart__item {
  margin-bottom: 50px;
  display: block;
  background-color: #F16D7F;
  -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13)); }
  .shopping__cart__item:hover .cart__wrapper {
    -webkit-transform: translate3d(-15px, -15px, 0);
            transform: translate3d(-15px, -15px, 0); }

.cart__wrapper {
  background-color: #fff;
  -webkit-transition: -webkit-transform .4s linear;
  transition: -webkit-transform .4s linear;
  transition: transform .4s linear;
  transition: transform .4s linear, -webkit-transform .4s linear; }

.cart__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.cart__img {
  display: block;
  max-width: 262px; }

.cart__item {
  padding: 22px 97px 55px 31px; }

.cart__item__name {
  margin-bottom: 42px;
  max-width: 200px;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222; }

.cart__item__content {
  margin-bottom: 6px;
  font-size: 22px;
  font-weight: 400;
  color: #575757; }
  .cart__item__content--pink {
    color: #F16D7F; }
  .cart__item__content:last-child {
    margin-bottom: 0; }
  .cart__item__content--quantity {
    position: relative; }
    .cart__item__content--quantity:after {
      padding: 5px 17px;
      content: '2';
      display: block;
      font-size: 18px;
      font-weight: 400;
      position: absolute;
      top: 50%;
      right: 32px;
      z-index: 1;
      border: 1px solid #EAEAEA;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }

.cart__item__close {
  display: block;
  width: 15px;
  height: 3px;
  background-color: #575757;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 28px;
  right: 22px;
  z-index: 5;
  font-size: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear; }
  .cart__item__close:hover {
    background-color: #F16D7F; }
  .cart__item__close:hover:after {
    background-color: #F16D7F; }
  .cart__item__close:after {
    content: '';
    display: block;
    width: 15px;
    height: 3px;
    background-color: #575757;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear; }

.shopping__cart__buttons__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.shopping__btn__transapent {
  padding: 16px 38px 15px;
  max-width: 240px;
  width: 100%;
  border: 1px solid #A4A4A4;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  color: #000;
  text-transform: uppercase;
  -webkit-transition: .2s linear;
  transition: .2s linear; }
  .shopping__btn__transapent:hover {
    background-color: #F16D7F;
    color: #fff;
    border-color: #fff; }
  .shopping__btn__transapent:active {
    -webkit-filter: drop-shadow(17px 19px 24px rgba(179, 80, 141, 0.13));
            filter: drop-shadow(17px 19px 24px rgba(179, 80, 141, 0.13)); }

.shopping__cart__block__item {
  display: block; }

.shopping__address__block {
  margin-bottom: 57px;
  max-width: 380px; }

.shopping__address__title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  color: #222222; }

.shopping__address__input {
  margin-bottom: 20px;
  padding: 12px 0 16px 17px;
  width: 100%;
  max-width: 343px;
  border: 1px solid #A4A4A4;
  background-color: #fff;
  -webkit-transition: outline .2s linear;
  transition: outline .2s linear; }
  .shopping__address__input::-webkit-input-placeholder {
    font-size: 13px;
    font-weight: 300;
    color: #B1B1B1; }
  .shopping__address__input:-ms-input-placeholder {
    font-size: 13px;
    font-weight: 300;
    color: #B1B1B1; }
  .shopping__address__input::-ms-input-placeholder {
    font-size: 13px;
    font-weight: 300;
    color: #B1B1B1; }
  .shopping__address__input::placeholder {
    font-size: 13px;
    font-weight: 300;
    color: #B1B1B1; }
  .shopping__address__input:last-child {
    margin-bottom: 23px; }
  .shopping__address__input--choice::-webkit-input-placeholder {
    color: #222222; }
  .shopping__address__input--choice:-ms-input-placeholder {
    color: #222222; }
  .shopping__address__input--choice::-ms-input-placeholder {
    color: #222222; }
  .shopping__address__input--choice::placeholder {
    color: #222222; }
  .shopping__address__input:focus {
    outline: 2px solid #F16D7F; }

.shopping__btn {
  padding: 10px 14px 12px;
  border: 1px solid #A4A4A4;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: .2s linear;
  transition: .2s linear; }
  .shopping__btn:hover {
    background-color: #F16D7F;
    color: #fff;
    border-color: #fff; }
  .shopping__btn:active {
    -webkit-filter: drop-shadow(17px 19px 24px rgba(179, 80, 141, 0.13));
            filter: drop-shadow(17px 19px 24px rgba(179, 80, 141, 0.13)); }

.shopping__checking__block {
  margin-top: 60px;
  padding: 39px 34px 38px 44px;
  max-width: 345px;
  background-color: #F5F3F3; }

.total__block {
  margin: 0 auto 17px;
  width: 100%;
  max-width: 275px;
  border-bottom: 1px solid #E2E2E2; }

.subtotal__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.sub__total__item {
  margin-right: 26px;
  bottom: 12px;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: #4A4A4A; }
  .sub__total__item:first-child {
    margin-left: 130px; }
  .sub__total__item:last-child {
    margin-right: 0; }

.grand__total__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.grand__total__item {
  margin-right: 26px;
  margin-bottom: 21px;
  margin-top: 12px;
  bottom: 12px;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  color: #222222; }
  .grand__total__item:first-child {
    margin-left: 80px; }
  .grand__total__item:last-child {
    margin-right: 0;
    color: #F16D7F; }

.btn__pink {
  padding: 15px 40px;
  margin: 0 auto;
  max-width: 270px;
  display: block;
  font-size: 16p;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #F16D7F;
  background-color: #F16D7F;
  cursor: pointer;
  -webkit-transition: .2s linear;
  transition: .2s linear; }
  .btn__pink:hover {
    background-color: #fff;
    color: #F16D7F; }
  .btn__pink:active {
    color: #000;
    border-color: #000;
    background-color: #F16D7F; }

/* ----- ----- Registration page ----- ----- */
/* Registration======
====================== */
.registration {
  margin-bottom: 96px; }

.registration__inner {
  padding-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.registration__info__title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  color: #222222; }

.registration__info__input {
  margin-bottom: 20px;
  padding: 12px 0 12px 17px;
  width: 100%;
  max-width: 343px;
  border: 1px solid #A4A4A4;
  background-color: #fff;
  -webkit-transition: outline .2s linear;
  transition: outline .2s linear; }
  .registration__info__input:nth-child(3) {
    margin-bottom: 35px; }
  .registration__info__input::-webkit-input-placeholder {
    font-size: 13px;
    font-weight: 300;
    color: #B1B1B1; }
  .registration__info__input:-ms-input-placeholder {
    font-size: 13px;
    font-weight: 300;
    color: #B1B1B1; }
  .registration__info__input::-ms-input-placeholder {
    font-size: 13px;
    font-weight: 300;
    color: #B1B1B1; }
  .registration__info__input::placeholder {
    font-size: 13px;
    font-weight: 300;
    color: #B1B1B1; }
  .registration__info__input:focus {
    outline: 2px solid #F16D7F; }

.registration__rbtns__block {
  margin-bottom: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.rbtn {
  margin-right: 14px;
  margin-left: 20px;
  width: 17px;
  height: 17px;
  border-color: #A4A4A4;
  cursor: pointer; }
  .rbtn:first-child {
    margin-left: 0; }
  .rbtn:last-child {
    margin-right: 0; }

.rbtn__label {
  cursor: pointer;
  font-size: 11px;
  font-weight: 300;
  color: #000; }

.registration__info__password__text {
  margin-bottom: 39px;
  max-width: 345px;
  font-size: 13px;
  font-weight: 300;
  color: #B1B1B1; }

.btn__join {
  padding: 16px 29px 16px 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  background-color: #F16D7F;
  cursor: pointer;
  border: 1px solid #F16D7F;
  -webkit-transition: .2s linear;
  transition: .2s linear; }
  .btn__join:hover {
    color: #F16D7F;
    background-color: #fff; }
  .btn__join:hover .btn__join__svg {
    fill: #F16D7F; }

.btn__join__text {
  margin-right: 20px; }

.btn__join__svg {
  width: 21px;
  height: 16px;
  fill: #fff;
  -webkit-transition: fill .2s linear;
  transition: fill .2s linear; }

.registration__block {
  max-width: 550px; }

.registration__desc__title {
  margin-bottom: 22px;
  font-size: 18px;
  font-weight: 300;
  color: #000;
  text-transform: uppercase; }

.registration__desc__text {
  margin-bottom: 22px;
  font-size: 18px;
  font-weight: 300;
  color: #000; }

.registration__desc__chck__item {
  margin-bottom: 16px;
  margin-left: 43px;
  font-size: 18px;
  font-weight: 300;
  color: #000;
  position: relative; }
  .registration__desc__chck__item:hover .success {
    fill: #F16D7F;
    width: 30px;
    height: 30px; }

.success {
  position: absolute;
  top: 50%;
  left: -43px;
  z-index: 1;
  fill: #000;
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill .2s linear, width .5s linear, height .5s linear;
  transition: fill .2s linear, width .5s linear, height .5s linear; }

/* ----- ----- Media ----- ----- */
@media (max-width: 2030px) {
  /* Header */
  #chk {
    right: 580px; } }
@media (max-width: 1990px) {
  /* Header */
  #chk {
    right: 560px; } }
@media (max-width: 1950px) {
  /* Header */
  #chk {
    right: 540px; } }
@media (max-width: 1910px) {
  /* Header */
  #chk {
    right: 520px; } }
@media (max-width: 1870px) {
  /* Header */
  #chk {
    right: 500px; } }
@media (max-width: 1830px) {
  /* Header */
  #chk {
    right: 480px; } }
@media (max-width: 1790px) {
  /* Header */
  #chk {
    right: 460px; } }
@media (max-width: 1750px) {
  /* Header */
  #chk {
    right: 440px; } }
@media (max-width: 1710px) {
  /* Header */
  #chk {
    right: 420px; } }
@media (max-width: 1670px) {
  /* Header */
  #chk {
    right: 400px; } }
@media (max-width: 1630px) {
  /* Header */
  #chk {
    right: 380px; } }
@media (max-width: 1590px) {
  /* Header */
  #chk {
    right: 370px; } }
@media (max-width: 1539px) {
  /* Categories */
  .categories__img {
    max-width: 300px; }
    .categories__img--big {
      max-width: 100%; }

  /* Featured */
  .featured__item__photo {
    max-width: 320px; } }
@media (max-width: 1440px) {
  /* Intro */
  .intro__item--right {
    margin-left: -50px; }

  /* Featured */
  .featured__item__photo {
    max-width: 300px; } }
@media (max-width: 1412px) {
  /* Benefits */
  .benefits__text {
    max-width: 320px; } }
@media (max-width: 1390px) {
  /* Header */
  /* Intro */
  .intro__item--right {
    margin-left: -80px; } }
@media (max-width: 1360px) {
  /* Container */
  .container {
    padding: 0 200px; }

  /* Header */
  #chk {
    right: 340px; } }
@media (max-width: 1300px) {
  /* Container */
  .container {
    padding: 0 120px; }

  /* Header */
  #chk {
    right: 260px; } }
@media (max-width: 1199px) {
  /* Header */
  /* Intro */
  .intro__title {
    font-size: 36px; }

  .intro__subtitle {
    font-size: 24px; }

  /* Benefits */
  .benefits__item {
    margin-left: 10px;
    margin-right: 10px; } }
@media (max-width: 1139px) {
  /* Categories */
  .categories__img {
    max-width: 250px; }
    .categories__img--big {
      max-width: 100%; }

  /* Featured */
  .featured__item__photo {
    max-width: 280px; }

  /* Product__desc */
  .product__desc__inner {
    top: 0; } }
@media (max-width: 1079px) {
  /* Featured */
  .featured__item__photo {
    max-width: 260px; } }
@media (max-width: 1047px) {
  /* Header */
  /* Intro */
  .intro__photo {
    max-width: 750px; } }
@media (max-width: 1019px) {
  /* Featured */
  .featured__item:nth-child(9) {
    margin-left: 26%; }

  .featured__item__photo {
    max-width: 360px; } }
@media (max-width: 997px) {
  /* Header */
  /* Intro */
  .intro__photo {
    max-width: 650px; }

  /* Categories */
  .categories__img {
    max-width: 220px; }
    .categories__img--big {
      max-width: 100%; } }
@media (max-width: 972px) {
  /* Container */
  .container {
    padding: 0 80px; }

  /* Header */
  #chk {
    right: 220px; } }
@media (max-width: 899px) {
  /* Container */
  .container {
    padding: 0 60px; }

  /* Header */
  #chk {
    right: 200px; } }
@media (max-width: 839px) {
  /* Featured */
  .featured__item__photo {
    max-width: 320px; } }
@media (max-width: 824px) {
  /* Footer */
  .footer__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }
@media (max-width: 779px) {
  /* Categories */
  .categories__img {
    max-width: 175px; }
    .categories__img--big {
      max-width: 100%; } }
/* ==== Primary 768px ==== */
@media (max-width: 768px) {
  /* Container */
  .container {
    padding: 0 16px; }

  /* Header */
  #chk {
    right: 155px; }

  /* Intro */
  .intro__item--right {
    margin-left: 0; }

  .intro__photo {
    max-width: 386px;
    margin-left: 0; }

  .intro__title {
    font-size: 44px; }

  .intro__subtitle {
    font-size: 24px; }

  /* Categories */
  .categories__img {
    max-width: 232px; }
    .categories__img--big {
      max-width: 100%; }

  /* Featured */
  .featured__item:nth-child(9) {
    display: none; }

  .featured__item__photo {
    max-width: 360px; }

  .featured__filter {
    padding: 32px 0 62px; }

  .sorting__block {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .sorting__block--product__desc {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }

  .sorting__item:last-child {
    margin-right: 35px; }

  .sorting__inner {
    left: -15px; }

  /* Benefits */
  .benefits {
    padding-top: 48px;
    padding-bottom: 64px; }

  .benefits__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .benefits__item {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    text-align: center; }

  .benefits__text {
    max-width: 360px;
    margin: 0 auto; }

  /* Footer */
  .footer__intro {
    background-position: 20% 70%; }

  .footer__inner__item {
    width: 100%; }

  .footer__subscribe__text {
    margin: 0 auto; }

  .footer__inner__subscribe__block {
    max-width: 330px;
    margin: 0 auto; } }
@media (max-width: 751px) {
  /* Featured */
  .featured__item__photo {
    max-width: 300px; } }
@media (max-width: 727px) {
  /* Intro */
  .intro__item--right {
    margin-left: -30px; }

  /* Categories */
  .categories__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .categories__item:first-child {
    margin-right: 20px; }

  .categories__img {
    max-width: 280px; }
    .categories__img--big {
      max-width: 100%; } }
@media (max-width: 695px) {
  /* Intro */
  .intro__photo {
    margin-left: -90px; } }
@media (max-width: 631px) {
  /* Featured */
  .featured__item__photo {
    max-width: 250px; } }
@media (max-width: 612px) {
  /* Categories */
  .categories__item:first-child {
    margin-right: 0; }

  .categories__img {
    max-width: 380px; }
    .categories__img--big {
      max-width: 100%;
      min-height: 111px; } }
@media (max-width: 575px) {
  /* Intro */
  .intro__title {
    font-size: 34px; }

  .intro__subtitle {
    font-size: 14px; } }
@media (max-width: 631px) {
  /* Featured */
  .featured__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .featured__item__photo {
    max-width: 360px; } }
@media (max-width: 518px) {
  /* Intro */
  .intro__photo {
    max-width: 268px;
    margin-left: -55px; }

  /* Featured */
  .dropbtn {
    font-size: 0;
    left: 17px; }
    .dropbtn:before {
      width: 24px;
      height: 4px;
      left: 0; }
    .dropbtn:after {
      width: 37px;
      height: 4px;
      top: 2px;
      left: 0; }

  .dropbtn .dropbtn__burger {
    width: 12px;
    height: 4px;
    left: 0;
    top: 14px; }

  .sorting__button {
    font-size: 12px; } }
@media (max-width: 450px) {
  /* Footer */
  .footer__bottom {
    padding-top: 43px;
    padding-bottom: 9px; }

  .footer__bottom__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }

  .footer__bottom__item:last-child {
    margin-bottom: 40px; } }
@media (max-width: 435px) {
  /* Intro */
  .intro__photo {
    margin-left: -70px; }

  /* Featured */
  .sorting__item {
    margin-right: 43px; }

  #myDropdown6 {
    left: -25px; } }
@media (max-width: 420px) {
  /* Intro */
  .intro__title {
    font-size: 24px; }

  .intro__subtitle {
    font-size: 12px; }

  /* Breadcrumb */
  .breadcrumb__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .breadcrumb__title {
    padding: 24px 0 32px; }

  .breadercrumb__path {
    margin-bottom: 46px; } }
/* ==== Primary 375px ==== */
@media (max-width: 375px) {
  /* Header */
  .header__profile {
    display: none; }

  .header__basket {
    display: none; }

  #chk {
    right: 60px; }

  /* Intro */
  .intro__inner {
    padding: 148px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .intro__photo {
    display: none; }

  .intro__title {
    font-size: 38px; }

  .intro__subtitle {
    font-size: 20px; }

  /* Featured */
  .dropbtn {
    left: 0; }

  .dropdown-content {
    left: -17px; }

  /* Footer */
  .footer__inner__input {
    padding-right: 40px; } }
@media (max-width: 349px) {
  /* Featured */
  .sorting__block {
    display: none; } }
@media (max-width: 333px) {
  /* Footer */
  .footer__inner__input {
    padding-right: 20px; } }
@media (max-width: 309px) {
  /* Footer */
  .footer__inner__input {
    padding-right: 10px; } }

/*# sourceMappingURL=style.css.map */